In [6]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.0.1-py3-none-any.whl
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7

In [1]:
import pandas as pd

In [25]:
df = pd.read_excel('SALE B2B OCTOBER 2018 - Copy.xlsx')
df.head()

,Outlet Name,Outlet GSTIN Code,Invoice No,Invoice Date,Taxable Line Amt,SGST_Tax_Rate,SGST_Tax_Value,CGST_Tax_Rate,CGST_Tax_Value,Cess_Tax_Rate,Cess_Tax_Value,Total Tax Amount,Net Amount
0,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,97.40,14,13.64,14,13.64,12,11.69,38.97,136.37
1,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,182.86,14,25.60,14,25.60,12,21.94,73.14,256.00
2,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,903.96,9,81.36,9,81.36,0,0.00,162.72,1066.68
3,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,548.58,14,76.80,14,76.80,12,65.83,219.43,768.01
4,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,22.86,14,3.20,14,3.20,12,2.74,9.14,32.00

In [26]:
df.dtypes

Outlet Name                  object
Outlet GSTIN Code            object
Invoice No                    int64
Invoice Date         datetime64[ns]
Taxable Line Amt            float64
SGST_Tax_Rate                 int64
SGST_Tax_Value              float64
CGST_Tax_Rate                 int64
CGST_Tax_Value              float64
Cess_Tax_Rate                 int64
Cess_Tax_Value              float64
Total Tax Amount            float64
Net Amount                  float64
dtype: object

In [27]:
df.dropna(axis=0, inplace=True)
df.reset_index(inplace=True)
df.head()

,index,Outlet Name,Outlet GSTIN Code,Invoice No,Invoice Date,Taxable Line Amt,SGST_Tax_Rate,SGST_Tax_Value,CGST_Tax_Rate,CGST_Tax_Value,Cess_Tax_Rate,Cess_Tax_Value,Total Tax Amount,Net Amount
0,0,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,97.40,14,13.64,14,13.64,12,11.69,38.97,136.37
1,1,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,182.86,14,25.60,14,25.60,12,21.94,73.14,256.00
2,2,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,903.96,9,81.36,9,81.36,0,0.00,162.72,1066.68
3,3,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,548.58,14,76.80,14,76.80,12,65.83,219.43,768.01
4,4,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,22.86,14,3.20,14,3.20,12,2.74,9.14,32.00

In [28]:
len(df['Outlet Name'].unique())

7

In [29]:
outlet_names = list(df['Outlet Name'].unique())
outlet_names

['DEEP FOOD CORNER',
 'UNION CLUB',
 'ORISSA CRICKET ASSOCIATION CLUB',
 'CUTTACK CLUB--',
 'ROYAL TRADERS',
 'SHREE SAI VANDAR',
 'SWEETY']

In [30]:
final = pd.DataFrame(columns=['Outlet Name', 'Outlet GSTIN Code', 'Invoice No', 'Invoice Date', 'Taxable Line Amt', 'SGST_Tax_Rate', 'SGST_Tax_Value', 'CGST_Tax_Rate', 'CGST_Tax_Value', 'Cess_Tax_Rate', 'Total Tax Amount', 'Net Amount'])
final

Empty DataFrame
Columns: [Outlet Name, Outlet GSTIN Code, Invoice No, Invoice Date, Taxable Line Amt, SGST_Tax_Rate, SGST_Tax_Value, CGST_Tax_Rate, CGST_Tax_Value, Cess_Tax_Rate, Total Tax Amount, Net Amount]
Index: []

In [31]:
for i in range(len(outlet_names)):
    invoice_nos = list(df[df['Outlet Name']==outlet_names[i]]['Invoice No'].unique())
    outlet_data = df[df['Outlet Name']==outlet_names[i]]
    for j in range(len(invoice_nos)):
        inv_data = outlet_data[outlet_data['Invoice No']==invoice_nos[j]]
        sgst_rates = list(inv_data['SGST_Tax_Rate'].unique())
        for k in range(len(sgst_rates)):
            sgst_data = inv_data[inv_data['SGST_Tax_Rate']==sgst_rates[k]]
            d = {
                'Outlet Name':outlet_names[i],
                'Outlet GSTIN Code': sgst_data['Outlet GSTIN Code'].unique()[0],
                'Invoice No':sgst_data['Invoice No'].unique()[0],
                'Invoice Date':sgst_data['Invoice Date'].unique()[0],
                'Taxable Line Amt':sgst_data['Taxable Line Amt'].sum(),
                'SGST_Tax_Rate':sgst_data['SGST_Tax_Rate'].unique()[0],
                'SGST_Tax_Value':sgst_data['SGST_Tax_Value'].sum(),
                'CGST_Tax_Rate':sgst_data['CGST_Tax_Rate'].unique()[0],
                'CGST_Tax_Value':sgst_data['CGST_Tax_Value'].sum(),
                'Cess_Tax_Rate':sgst_data['Cess_Tax_Rate'].unique()[0],
                'Cess_Tax_Value':sgst_data['Cess_Tax_Value'].sum(),
                'Total Tax Amount':sgst_data['Total Tax Amount'].sum(),
                'Net Amount':sgst_data['Net Amount'].sum()
                }
            final = final.append(d, ignore_index=True)

In [32]:
final.dtypes

Outlet Name                  object
Outlet GSTIN Code            object
Invoice No                   object
Invoice Date         datetime64[ns]
Taxable Line Amt            float64
SGST_Tax_Rate                object
SGST_Tax_Value              float64
CGST_Tax_Rate                object
CGST_Tax_Value              float64
Cess_Tax_Rate                object
Total Tax Amount            float64
Net Amount                  float64
Cess_Tax_Value              float64
dtype: object

In [34]:
final.to_csv('out.csv')

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('out.csv')
df.dtypes

Unnamed: 0             int64
Outlet Name           object
Outlet GSTIN Code     object
Invoice No             int64
Invoice Date          object
Taxable Line Amt     float64
SGST_Tax_Rate          int64
SGST_Tax_Value       float64
CGST_Tax_Rate          int64
Cess_Tax_Rate          int64
Total Tax Amount     float64
Net Amount           float64
CGST_Tax_Value       float64
Cess_Tax_Value       float64
dtype: object

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('1 B2B SALE 2019.xlsx')
df.head()

,RecipientGSTIN,RecipientName,DocumentNumber,DocumentDate,DocumentValue,TaxableAmount,GSTRate,CESSRate,CGST,SGST,CESS,NetLineAmount
0,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.0,312.72,18,0,28.14,28.14,0.00,369.01
1,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.0,36.27,18,0,3.26,3.26,0.00,42.80
2,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.0,32.77,12,0,1.97,1.97,0.00,36.71
3,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.0,52.44,40,12,7.34,7.34,6.29,73.42
4,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.0,52.44,40,12,7.34,7.34,6.29,73.42

In [7]:
outlet_names = df['RecipientName'].unique()
outlet_names

array(['INCON ASSOCIATION', 'SHREE SAI VANDAR', 'ROYAL TRADERS',
       'UNION CLUB', 'DEEP FOOD CORNER', 'CUTTACK CLUB--', 'SWEETY',
       'ORISSA CRICKET ASSOCIATION CLUB'], dtype=object)

In [16]:
final = pd.DataFrame(columns=['RecipientGSTIN', 'RecipientName', 'DocumentNumber', 'DocumentDate', 'DocumentValue', 'TaxableAmount', 'GSTRate', 'CESSRate', 'CGST', 'SGST', 'CESS', 'NetLineAmount'])
final

Empty DataFrame
Columns: [RecipientGSTIN, RecipientName, DocumentNumber, DocumentDate, DocumentValue, TaxableAmount, GSTRate, CESSRate, CGST, SGST, CESS, NetLineAmount]
Index: []

In [17]:

for i in range(len(outlet_names)):
    doc_nos = list(df[df['RecipientName']==outlet_names[i]]['DocumentNumber'].unique())
    outlet_data = df[df['RecipientName']==outlet_names[i]]
    for j in range(len(doc_nos)):
        inv_data = outlet_data[outlet_data['DocumentNumber']==doc_nos[j]]
        gst_rate = list(inv_data['GSTRate'].unique())
        for k in range(len(gst_rate)):
            gst_data = inv_data[inv_data['GSTRate']==gst_rate[k]]
            d = {
               'RecipientGSTIN': gst_data['RecipientGSTIN'].unique()[0],
               'RecipientName': outlet_names[i],
               'DocumentNumber': gst_data['DocumentNumber'].unique()[0],
               'DocumentDate': gst_data['DocumentDate'].unique()[0],
               'DocumentValue': gst_data['DocumentValue'].unique()[0],
               'TaxableAmount': gst_data['TaxableAmount'].sum(),
               'GSTRate' : gst_data['GSTRate'].unique()[0],
               'CESSRate' : gst_data['CESSRate'].unique()[0],
               'CGST' : gst_data['CGST'].sum(),
               'SGST' : gst_data['SGST'].sum(),
               'CESS' : gst_data['CESS'].sum(),
               'NetLineAmount' : gst_data['NetLineAmount'].sum()
            }
            final = final.append(d, ignore_index=True)

In [20]:
final.head(20)

,RecipientGSTIN,RecipientName,DocumentNumber,DocumentDate,DocumentValue,TaxableAmount,GSTRate,CESSRate,CGST,SGST,CESS,NetLineAmount
0,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.00,348.99,18,0,31.40,31.40,0.00,411.81
1,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.00,32.77,12,0,1.97,1.97,0.00,36.71
2,21AABF15676D1ZP,INCON ASSOCIATION,P01INV-1900104,2019-04-05,595.00,104.88,40,12,14.68,14.68,12.58,146.84
3,21AABF15676D1ZP,INCON ASSOCIATION,P02INV-1900316,2019-04-12,839.00,599.28,40,12,83.90,83.90,71.92,838.99
4,21AABF15676D1ZP,INCON ASSOCIATION,P02INV-1901132,2019-04-26,580.00,229.30,40,12,32.10,32.10,27.52,321.01
5,21AABF15676D1ZP,INCON ASSOCIATION,P02INV-1901132,2019-04-26,580.00,219.48,18,0,19.75,19.75,0.00,258.99
6,21AWCPS4200L1ZT,SHREE SAI VANDAR,P01INV-1900191,2019-04-05,2605.00,532.20,18,0,47.89,47.89,0.00,628.00
7,21AWCPS4200L1ZT,SHREE SAI VANDAR,P01INV-1900191,2019-04-05,2605.00,1412.11,40,12,197.70,197.70,169.46,1976.98
8,21AWCPS4200L1ZT,SHREE SAI VANDAR,R01INV-1900039,2019-04-07,1342.20,507.80,18,0,45.70,45.70,0.00,599.20
9,21AWCPS4200L1ZT,SHREE SAI VANDAR,R01INV-1900039,2019-04-07,1342.20,530.71,40,12,74.30,74.30,63.68,743.00
10,21AWCPS4200L1ZT,SHREE SAI VANDAR,R01INV-1900119,2019-04-08,2999.93,2142.81,40,12,300.00,300.00,257.14,2999.93
11,21AWCPS4200L1ZT,SHREE SAI VANDAR,P01INV-1900334,2019-04-09,4133.00,2524.28,40,12,353.40,353.40,302.90,3533.99
12,21AWCPS4200L1ZT,SHREE SAI VANDAR,P01INV-1900334,2019-04-09,4133.00,507.80,18,0,45.70,45.70,0.00,599.20
13,21AWCPS4200L1ZT,SHREE SAI VANDAR,P02INV-1900352,2019-04-12,1426.00,1018.56,40,12,142.60,142.60,122.22,1425.98
14,21AWCPS4200L1ZT,SHREE SAI VANDAR,P02INV-1900482,2019-04-15,1552.00,1108.56,40,12,155.20,155.20,133.02,1551.99
15,21AWCPS4200L1ZT,SHREE SAI VANDAR,P02INV-1900818,2019-04-19,1330.00,822.55,40,12,115.15,115.15,98.70,1151.56
16,21AWCPS4200L1ZT,SHREE SAI VANDAR,P02INV-1900818,2019-04-19,1330.00,159.48,12,0,9.57,9.57,0.00,178.62
17,21AWCPS4200L1ZT,SHREE SAI VANDAR,P02INV-1900962,2019-04-22,1111.00,196.43,40,12,27.50,27.50,23.57,275.00
18,21AWCPS4200L1ZT,SHREE SAI VANDAR,P02INV-1900962,2019-04-22,1111.00,269.64,12,0,16.18,16.18,0.00,302.00
19,21AWCPS4200L1ZT,SHREE SAI VANDAR,P02INV-1900962,2019-04-22,1111.00,452.53,18,0,40.72,40.72,0.00,533.99

In [22]:
final.to_csv('out.csv')