In [6]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.0.1-py3-none-any.whl
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7

In [1]:
import pandas as pd

In [25]:
df = pd.read_excel('SALE B2B OCTOBER 2018 - Copy.xlsx')
df.head()

,Outlet Name,Outlet GSTIN Code,Invoice No,Invoice Date,Taxable Line Amt,SGST_Tax_Rate,SGST_Tax_Value,CGST_Tax_Rate,CGST_Tax_Value,Cess_Tax_Rate,Cess_Tax_Value,Total Tax Amount,Net Amount
0,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,97.40,14,13.64,14,13.64,12,11.69,38.97,136.37
1,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,182.86,14,25.60,14,25.60,12,21.94,73.14,256.00
2,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,903.96,9,81.36,9,81.36,0,0.00,162.72,1066.68
3,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,548.58,14,76.80,14,76.80,12,65.83,219.43,768.01
4,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,22.86,14,3.20,14,3.20,12,2.74,9.14,32.00

In [26]:
df.dtypes

Outlet Name                  object
Outlet GSTIN Code            object
Invoice No                    int64
Invoice Date         datetime64[ns]
Taxable Line Amt            float64
SGST_Tax_Rate                 int64
SGST_Tax_Value              float64
CGST_Tax_Rate                 int64
CGST_Tax_Value              float64
Cess_Tax_Rate                 int64
Cess_Tax_Value              float64
Total Tax Amount            float64
Net Amount                  float64
dtype: object

In [27]:
df.dropna(axis=0, inplace=True)
df.reset_index(inplace=True)
df.head()

,index,Outlet Name,Outlet GSTIN Code,Invoice No,Invoice Date,Taxable Line Amt,SGST_Tax_Rate,SGST_Tax_Value,CGST_Tax_Rate,CGST_Tax_Value,Cess_Tax_Rate,Cess_Tax_Value,Total Tax Amount,Net Amount
0,0,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,97.40,14,13.64,14,13.64,12,11.69,38.97,136.37
1,1,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,182.86,14,25.60,14,25.60,12,21.94,73.14,256.00
2,2,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,903.96,9,81.36,9,81.36,0,0.00,162.72,1066.68
3,3,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,548.58,14,76.80,14,76.80,12,65.83,219.43,768.01
4,4,DEEP FOOD CORNER,21AVIPD7702M1ZP,580118000667,2018-10-04,22.86,14,3.20,14,3.20,12,2.74,9.14,32.00

In [28]:
len(df['Outlet Name'].unique())

7

In [29]:
outlet_names = list(df['Outlet Name'].unique())
outlet_names

['DEEP FOOD CORNER',
 'UNION CLUB',
 'ORISSA CRICKET ASSOCIATION CLUB',
 'CUTTACK CLUB--',
 'ROYAL TRADERS',
 'SHREE SAI VANDAR',
 'SWEETY']

In [30]:
final = pd.DataFrame(columns=['Outlet Name', 'Outlet GSTIN Code', 'Invoice No', 'Invoice Date', 'Taxable Line Amt', 'SGST_Tax_Rate', 'SGST_Tax_Value', 'CGST_Tax_Rate', 'CGST_Tax_Value', 'Cess_Tax_Rate', 'Total Tax Amount', 'Net Amount'])
final

Empty DataFrame
Columns: [Outlet Name, Outlet GSTIN Code, Invoice No, Invoice Date, Taxable Line Amt, SGST_Tax_Rate, SGST_Tax_Value, CGST_Tax_Rate, CGST_Tax_Value, Cess_Tax_Rate, Total Tax Amount, Net Amount]
Index: []

In [31]:
for i in range(len(outlet_names)):
    invoice_nos = list(df[df['Outlet Name']==outlet_names[i]]['Invoice No'].unique())
    outlet_data = df[df['Outlet Name']==outlet_names[i]]
    for j in range(len(invoice_nos)):
        inv_data = outlet_data[outlet_data['Invoice No']==invoice_nos[j]]
        sgst_rates = list(inv_data['SGST_Tax_Rate'].unique())
        for k in range(len(sgst_rates)):
            sgst_data = inv_data[inv_data['SGST_Tax_Rate']==sgst_rates[k]]
            d = {
                'Outlet Name':outlet_names[i],
                'Outlet GSTIN Code': sgst_data['Outlet GSTIN Code'].unique()[0],
                'Invoice No':sgst_data['Invoice No'].unique()[0],
                'Invoice Date':sgst_data['Invoice Date'].unique()[0],
                'Taxable Line Amt':sgst_data['Taxable Line Amt'].sum(),
                'SGST_Tax_Rate':sgst_data['SGST_Tax_Rate'].unique()[0],
                'SGST_Tax_Value':sgst_data['SGST_Tax_Value'].sum(),
                'CGST_Tax_Rate':sgst_data['CGST_Tax_Rate'].unique()[0],
                'CGST_Tax_Value':sgst_data['CGST_Tax_Value'].sum(),
                'Cess_Tax_Rate':sgst_data['Cess_Tax_Rate'].unique()[0],
                'Cess_Tax_Value':sgst_data['Cess_Tax_Value'].sum(),
                'Total Tax Amount':sgst_data['Total Tax Amount'].sum(),
                'Net Amount':sgst_data['Net Amount'].sum()
                }
            final = final.append(d, ignore_index=True)

In [32]:
final.dtypes

Outlet Name                  object
Outlet GSTIN Code            object
Invoice No                   object
Invoice Date         datetime64[ns]
Taxable Line Amt            float64
SGST_Tax_Rate                object
SGST_Tax_Value              float64
CGST_Tax_Rate                object
CGST_Tax_Value              float64
Cess_Tax_Rate                object
Total Tax Amount            float64
Net Amount                  float64
Cess_Tax_Value              float64
dtype: object

In [34]:
final.to_csv('out.csv')